<!DOCTYPE html>
<html>
  <head>
    <title>CollectiveBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/shared/nav' %>
    </header>
    <main>
      <div class='container my-4'>
        <div class='container mt-6 mb-2'>
          <% if flash.any? %>
            <% flash.each do |_type, message|%>
              <div class="alert alert-info" role="alert"><%= message %></div>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= yield %>
        </div>
      </div>
    </main>
    <footer class="footer pt-3 bg-light">
    </footer>
  </body>
</html>
